.form-control{
    width: auto;
  }
  .jumbotron{
    text-align: center;
  }
  input,select{
    margin: auto;
  }
  body{
    background-color: pink;
  }
  h1{
    text-align: center;
  }
  div.img{
    display: flex;
    justify-content: center;
  }
  body{
      padding-bottom: 5%;
  }
  .logo{
    width:400px ;
    text-align: center;
  }
  
